.H_content
{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/buy_ticket/bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    margin: 0 0 0 0;
    padding-top: 35%;
    padding-bottom: 35%;

}
.H_content p:nth-child(1)
{
    margin: 0 0 0 0;

    font-size: 75px;
    padding-top: 55px;
    padding-bottom: 15px;
    font-weight: bold;
    color: #48dbfb;
    letter-spacing: 3px;
    text-align: center;
}

.H_content p:nth-child(2)
{
    margin: 0 0 0 0;
    font-size: 35px;
    padding-bottom: 55px;
    color: #48dbfb;
    font-style: italic;
    letter-spacing: 3px;
    text-align: center;

}
.ani
{
    animation: animate 1.5s ease;
}
@keyframes animate
{
    0%
    {
        transform: translateY(200px);
        opacity: 0;
    }
    100%
    {
        transform: translateY(-0px);
        opacity: 1;
    }
}